<div class="container">
    <h1>Create An Account</h1>
    <form>
        <div class="formfield">
          <label for="email">Email</label>
          <input type="email" id="email" required>
        </div>
        <div class="formfield">
            <label for="name">Name</label>
            <input type="name" id="name" required>
          </div>
          <div class="formfield">
            <label for="address">Address</label>
            <input type="address" id="address" required>
          </div>
          <div class="formfield">
            <label for="phone">Phone</label>
            <input type="phone" id="phone" required>
          </div>
        <div class="formfield">
          <label for="password">Password</label>
          <input type="password" id="password" required>
        </div>
        <div class="formfield">
            <label for="confirm-pass">Confirm Password</label>
            <input type="confirm-pass" id="confirm-pass" required>
          </div>
        <button type="submit">Sign Up</button>
      </form>
</div>