<div class=" justify-center">
    <div class="flex flex-col justify-center w-[500px]">
        <div>
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
                <li class="mr-2">
                    <a routerLink='login' class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Login</a>
                </li>
                <li class="mr-2">
                    <a routerLink='signup' class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50">Signup</a>
                </li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>



