<div class="h-[1920px]">
    <div class="rounded-2xl border-solid bg-slate-400 p-6 m-10">
        <p class="font-sans text-4xl font-bold text-black max-w-5xl lg:text-7xl lg:pr-24 md:text-6xl">
            Online Store application
        </p>
        <div class="h-10"></div>
        <ul class="max-w-2xl font-serif text-xl text-black md:text-2xl">
            <li>- An online shop website combines user authentication and order management functions. </li>
            <li>- Users can sign up or log in to access placed orders. </li>
            <li>- Users' password are stored encryted on a seperated databased.</li>
            <li>- The order management system allows for product selection, checkout. </li>
        </ul>
    </div>
</div>

